.caixa-input {
    border: 2px solid #ccc;
    outline: none;
    box-sizing: border-box; 
    gap: 40px;
} 
.caixa-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
